<div class="bg-primary h-screen overflow-hidden flex justify-center items-center">
  <form
    [formGroup]="forgotPassForm"
    class="grid gap-5 w-4/5 max-w-sm"
    (ngSubmit)="changePass()"
  >
    <h1 class="text-center text-3xl font-bold">¿Olvidaste tu contraseña?</h1>
    <h2 class="text-center text-base">Crea una nueva para poder ingresar</h2>
    <div class="relative">
      <div class="grid gap-3">
        <div class="input">
          <input
            type="text"
            id="username"
            autocomplete="off"
            class="w-full"
            required
            formControlName="username"
          />
          <label for="username" class="label cursor-text">Usuario</label>
        </div>

        <p *ngIf="userReq" class="text-red-600 font-bold">Ingrese su usuario</p>
      </div>
      <div class="absolute top-2/4 -translate-y-2/4 -right-10 lg:-right-12 z-10">
        <button class="w-10 h-10" #iconInfo>
          <app-icon-info></app-icon-info>
        </button>
        <div
          class="w-72 transition-all grid gap-3 bg-gray-200 rounded-md p-5 absolute top-full right-0"
          [ngClass]="showToolTip ? 'opacity-1 visible' : 'opacity-0 invisible'"
        >
          <h2
            class="font-bold text-red-600 border-2 w-fit pb-2 border-b-red-600 text-sm"
          >
            ¿Cómo es una contraseña segura?
          </h2>
          <p class="text-sm">
            Debe incluir: Minúsculas, mayúsculas, caracteres especiales, números
            y tener 8 caracteres como mínimo.
          </p>
        </div>
      </div>
    </div>
    <div class="grid gap-3">
      <div class="input-icon">
        <div class="input-subcontainer">
          <input
            [type]="!showPass_1 ? 'text' : 'password'"
            id="password_1"
            autocomplete="off"
            formControlName="password_1"
            required
          />
          <label class="label cursor-text" for="password_1"
            >Nueva Contraseña</label
          >
        </div>
        <div class="eyeIconContainer" (click)="showPass1Method()">
          <app-eye *ngIf="showPass_1"></app-eye>
          <app-no-eye *ngIf="!showPass_1"></app-no-eye>
        </div>
      </div>
      <p *ngIf="passReq" class="text-red-600 font-bold">
        La contraseña es requerida
      </p>
      <p *ngIf="passNoEqual" class="text-red-600 font-bold">
        La contraseñas no coinciden 
      </p>
      <p *ngIf="insecurePassword" class="text-red-600 font-bold">
        La contraseña es insegura
      </p>
      <p *ngIf="passToShort" class="text-red-600 font-bold">
        La contraseña debe tener 8 caracteres como minimo
      </p>
    </div>
    <div class="grid gap-3">
      <div class="input-icon">
        <div class="input-subcontainer">
          <input
            [type]="!showPass_2 ? 'text' : 'password'"
            id="password_2"
            autocomplete="off"
            formControlName="password_2"
            required
          />
          <label class="label cursor-text" for="password_2"
            >Confirmar nueva contraseña</label
          >
        </div>
        <div class="eyeIconContainer" (click)="showPass2Method()">
          <app-eye *ngIf="showPass_2"></app-eye>
          <app-no-eye *ngIf="!showPass_2"></app-no-eye>
        </div>
      </div>
      <p *ngIf="passReq" class="text-red-600 font-bold">Repita la contraseña</p>
    </div>
    <button
      type="submit"
      class="transition-all text-lg bg-red-600 rounded-full text-white font-bold py-5 flex justify-center gap-3"
    >
      <div *ngIf="loading" class="loading-animation text-white fill-current">
        <app-loading></app-loading>
      </div>
      Crear nueva contraseña
    </button>
  </form>
</div>

<app-alert-message></app-alert-message>
